.container {
  background: #FAFAFD;
  padding: 16px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  color: #828B97;
  margin-bottom: 8px;
}

.title img {
  margin-right: 8px;
}

.content {
  background: #FFFFFF;
  box-shadow: 0 3px 24px rgba(130, 139, 151, 0.06);
  border-radius: 16px;
  padding-inline: 16px;
  margin-bottom: 32px;
}

.content .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  color: #3E4959;
  border-bottom: 1px solid #F8F8F9;
}

.content .item:last-child {
  border-bottom: 0;
}

.content .item .phone-number {
  color: #828B97;
}

.status {
  background: #EEEFF2;
  border-radius: 24px;
  padding-inline: 10px;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #3E4959;
}

.status.request {
  color: cornflowerblue;
}

.status.pending {
  color: orange;
}

.status.approved {
  color: green;
}

.status.declined {
  color: red;
}